.sign-up {
    display: flex;
    flex-direction: column;
    width: 30%;

    .title{
        margin: 10px 0px;
    }
    .TextField{
        margin-bottom: 8%;
        width: 100%;
    }

}

.TextField{
    margin-bottom: 10%;
}